@media screen and (max-width: 576px) {
    .team__item {
        align-items: center !important;
    }
}



@media screen and (max-width: 440px) {
    body {
        font-size: 14px;
    }

    .main__container {
        margin: 0;
    }
    .main__title {
        font-size: 33px;
    }

    .services__title , .team__title {
        font-size: 23px;
    }

    .main__title_2 , .main__title_3 {
        font-size: 18px;
    }

    
    .questions__title  {
        font-size: 20px;
    }

    .footer__item a, .footer__item p {
        font-size: 14px;
    }
}